$color-maps: (
    white:(
        default: #ffffff
    ),
    black:(
        default: #000000,
    ),
    green:(
        dk-1: #087A28,
        dk-2: #1F6A41,
        lt-1: #CBEED6,
        lt-2:#EFFBF5,
    ),
    blue: (
        dk-4: #141322,
        dk-3: #0B2055,
        dk-2: #061947,
        dk-1: #0B1C46,
        default: #1227E2,
        lt-1: #E7E9FC,
        lt-2:#696F79,
        lt-3:#E0E2F9,
        lt-4:#B1C7FF,
        lt-5:#37393F,
        lt-6:#FDFDFE,
        lt-7:#F0F0F1,
        lt-8:#F3F4FF,
        lt-9:#FCFDFF,
        lt-10:#81b1f9,
        lt-11:#E5E8FC,
        lt-12:#EFF0FC,
        lt-13:#F2F3F7,
        lt-14:#e6e9fd,
        lt-15:#F4F4F4,
        
    ),
    yellow: (
        dk-1:#927203,
        dk-2:#373530,
        default: #FFCD05,
        lt-1:#CCCAC6,
        lt-2:#DEDCCA,
        lt-3:#F6BE2C,
    ),
    purple: (
        lt-1:#FFDFFE,
        dk-1: #5A5365,
        dk-2: #CC3BFF,
    ),
    red: (
        lt-1:#F4F4F4,
        lt-2:#FF9D9D,
        lt-3:#D9D9D9,
        lt-4:#F0EDED,
        lt-5:#D8D8D8,
        lt-6:#828282,
        lt-7:#FDE2E3,
        lt-8:#FCE7E7,
        lt-9:#7D7D7D,
        lt-10:#4F4F4F,
        dk-1:#0F0F0F,
        dk-2:#757575,
        dk-3:#FF0000,
        dk-4:#FF3B3B,
        dk-5: #7A7575,
    ),
    dark: (
        dk-2: #171923,
        dk-1: #1A202C,
        default: #2D3748,
        lt-1: #4A5568,
        lt-2: #718096,
    ),
    secondary: (
        dk-2: #202020,
        dk-1: #333333,
        default: #454545,
        muted: #777777,
        lt-1: #AAAAAA,
        lt-2: #DDDDDD,
        lt-3: #F5F5F5,
        lt-4:#727272,
        lt-5:#F7F7FB,
        lt-6:#F3F3F3,
    ),
);