@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ec1a25;
  --black: #161616;
  --secondary: #f3cf36;
  --tertiary: #1d6976;
  --dark: #132134;
  --splashBg: url("./assets/images/azany/splash3.png");
   --primary-light: "#F9E8EC";
   --lightPrimary: #ec1a2529;
}

/* https://github.com/PaulBratslavsky/strapi-block-renderer-test/blob/main/frontend/src/app/globals.css */

p {
  @apply mb-4;
}

h4 {
  @apply text-xl mb-2;
}

@media (prefers-color-scheme: dark) {
  p {
    @apply text-white;
  }
}