.onfleekq_acc_border {
  border-top: 1px solid var(--colorBlack);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 20px 20px 20px;
}

.onfleekq_acc_number {
  font-family: var(--fontOutfit);
  font-weight: 400;
  color: var(--colorBlack);
  text-transform: uppercase;
}

.onfleekq_acc_title {
  font-weight: 700;
  font-family: var(--fontOutfit);
  margin-top: 1rem;
}

.onfleekq_acc_subtitle {
  color: #888888;
  font-family: var(--fontOutfit);
  margin-top: 1rem;
  font-weight: 400;
}

.onfleekq_acc_content .content_number {
  font-weight: 700;
  font-family: var(--fontOutfit);
  color: var(--colorPrimary);
}

.onfleekq_acc_content .content_title {
  font-family: var(--fontOutfit);
  font-weight: 400;
  color: var(--colorBlackBody);
}